<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-transparent navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MyFoldering.com", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li >

                        <a id="mis-tareas">Mis tareas</a>

                        <ul class="navbar-sub" id="mis-tareas-sub">
                            <li>@Html.ActionLink("Mis tareas", "Index", "Home")</li>
                            <li>
                                @Html.ActionLink("Crear tarea", "Index", "Home")
                            </li >
                        </ul>

                    </li>
                    <li id="mis-carpetas">
                        <a  id="mis-carpetas">Mis carpetas</a>

                        <ul class="navbar-sub" id="mis-carpetas-sub">
                            <li>@Html.ActionLink("Mis carpetas", "Index", "Home")</li>
                            <li>
                                @Html.ActionLink("Crear carpeta", "Index", "Home")
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 hidden-sm hidden-xs side-nav">
        @{
            @Html.Partial("Lista_de_tareas")
        }
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/eventos-menu")
    @RenderSection("scripts", required: false)
</body>
</html>
