@model Carpeta
@{
    ViewBag.Title = "MisCarpetas";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<h1>@ViewBag.estado</h1>
<h2>MisCarpetas</h2>

<table>
    <thead>
        <tr>
            <td>
                Nombre
            </td>
            <td>
                Tareas
            </td>
            <td>
                Eliminar
            </td>
            <td>
                Actualizar
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (Carpeta carpeta in ViewBag.Carpetas)
        {
            <tr>
                <td>
                    @carpeta.Nombre;
                </td>
                <td>
                    @Html.ActionLink("Ver", "MostrarTarea", "Tarea", new { idCarpeta = carpeta.IdCarpeta }, null)
                </td>
                <td>
                    @Html.ActionLink("Eliminar","EliminarCarpeta","Carpeta",new {idCarpeta = carpeta.IdCarpeta },null)
                </td>
                <td>@Html.ActionLink("Actualizar","ActualizarForm","Carpeta",new { idCarpeta = carpeta.IdCarpeta },null)</td>
            </tr>
           

         }
    </tbody>
</table>



